_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
.idea/
*.iml
.obsidian/themes
.obsidian/appearance.json
.obsidian/workspace.json
.obsidian/graph.json
.obsidian/plugins/
*conflicted copy*
.DS_Store
.trash/
